{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Убежище хакера(и разработчика...){% endblock %}
{% block content %}
{% if tag %} 
<h2> Теги {{ tag.name }}</h2>
{% endif %}
<h1>Блог</h1>
{% for post in posts %}
<h2>
<a href="{{ post.get_absolute_url }}">
{{ post.title }}
<p class="tags">Tags: {{ post.tags.all|join:", " }}</p>

</a>

</h2>

<p class="date">
Опубликовано {{ post.publish }} автором {{ post.author }}
</p>
{{ post.body|markdown|truncatewords_html:30}}
{% endfor %}
    {% include 'pagination.html' with page=posts %} 
{% endblock %}